@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
}

.container {
    margin-top: 70px;
}

label {
    font-weight: 500;
    color: #333;
}

::-webkit-input-placeholder {
    font: italic 13px Calibri;
}

::-moz-placeholder {
    font: italic 13px Calibri;
}

:-ms-input-placeholder {
    font: italic 13px Calibri;
}

:-moz-placeholder {
    font: italic 13px Calibri;
}

.container .page-title {
    margin-top: 0;
}

/* ======== navi bar ======== */

.navbar {
    background: linear-gradient(0deg, #e6e6e6, #f8f8f8);
    border-color: #ccc;
    border-radius: 0;
}

.nav-icon {
    margin-right: 5px;
}

.navbar-brand {
    padding: 2px 10px;
}

/* ======== loader ======== */

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1) url('../media/animations/preloader.gif') 50% no-repeat;
    z-index: 999999;
}

.main-container {
    margin: 50px 0 40px 0;
}

.iris-button {
    border-radius: 1px;
}

/**
*
* ExaminationModel status
*
**/

tr.examination-ready-to-start {
    box-shadow: 0 1px 8px #f00 !important;
    border: 0 solid #f00 !important;
    color: #222 !important;
}

tr.confirmed {
    background-color: rgba(255, 215, 0, 0.6) !important;
    color: #222 !important;
}

tr.canceled {
    background-color: rgba(18, 92, 153, 0.4) !important;
    color: #222 !important;
}

tr.done {
    color: #222 !important;
    background-color: rgba(5, 230, 32, 0.4) !important;
}

/* ======== form control ======== */

.small-btn {
    padding: 5px 12px;
    border-radius: 2px;
}

.btn,
.bootstrap-select > *,
.form-control {
    font-size: 13px !important;
    border-radius: 2px !important;
}

.bootstrap-select > *,
.form-control {
    border: 1px solid #ccc;
    box-shadow: none !important;
    cursor: pointer;
}

.form-group {
    margin-bottom: 15px;
}

input[type="checkbox"], input[type="radio"] {
    margin-top: 2px !important;
}

.field-message {
    display: block;
    font-size: 10px;
}

.validation-error {
    font-size: 12px;
}

.validation-container {
    background-color: transparent;
    border-color: transparent;
}

