<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="text-center">
                        <i class="fas fa-exclamation-triangle fa-icon fa-icon-warning"></i>
                        Izabrani termin je istekao!
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>