body {
	background:url('../media/images/background-img.png') repeat-x;
}
.icon {
	width:15px;
}
.login-interface {
	width:780px;
	height:590px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-295px;
	margin-left:-390px;
	text-align:center;
	color: #fff;
}
a.hyperlink {
	color:#ffd700!important;
	text-decoration:underline!important;
}