/* ----- form ----- */

label {
    font-weight: 500;
    color: #000;
}

.small-btn {
    padding: 5px 12px;
    border-radius: 2px;
}

.btn,
.bootstrap-select > *,
.form-control {
    border-radius: 0 !important;
}

.bootstrap-select > *,
.form-control {
    border: 1px solid #ccc;
    box-shadow: none !important;
    cursor: pointer;
}

.form-group {
    margin-bottom: 8px;
}

input[type="checkbox"], input[type="radio"] {
    margin-top: 2px!important;
}

.field-message {
    display: inline-block;
    font-size: 10px;
}

.validation-container {
    background-color: transparent;
    border-color: transparent;
}