<!DOCTYPE html>
<html lang="sr-RS">
    <head>
        <base href="{{ base_url }}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <title>{{ title ~ ' - ' ~ owner }}</title>
        <link href="media/icons/favicon.png" rel="icon" type="image/png">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
        {% block styles %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <div class="container">
            {% if showLoader ?? true %}
                <div class="loader-container"></div>
            {% endif %}
            {% if showNavigation ?? true %}
                {% include 'partial/navigation.html.twig' %}
            {% endif %}
            {% if showPageTitle ?? true %}
                <h3 class="page-title">{{ title }}</h3>
                <hr/>
            {% endif %}
            {% include 'partial/flash.html.twig' %}
            {% block container %}{% endblock %}
        </div>
    </body>
</html>